

body{
    margin: 0;
    padding: 0;

}

h2{
    margin: 0;
}


#landing{

background-image: url("table.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}

.title-bg{
    background: #070707;
    width: fit-content;
    margin: auto;
    padding: 10px;
}

.title{
    text-align: center;
    color: #D0D3D4;
    font-size: 2em;
}

/*nav bar slider */
.nav-slider{
padding: 15px;
cursor: pointer;
}

.line{
    height: 3px;
    background: #eee;
    margin: 5px;
    width: 30px;

}
.line:nth-child(1){
    margin-top: 0;
}

/* nav slider section */
.nav-slider-section{
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
}

.close-slider{
    border: none;
    outline: none;
    float: right;
    background: transparent;
    color: #f1c40f;
    font-size: 1.5em;
    padding: 15px;
    cursor: pointer;
}
.nav-links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav-links-container li{
text-align: center;
padding: 10px;

}
.nav-links{
text-decoration: none;
color: #eee;
font-size: 1.5em;
}

.openNav{
    animation: openNav 0.5s forwards;
}
.closeNav{
    animation: closeNav 0.5s forwards;
}

@keyframes openNav{
    100%{
        transform: translateX(0%);
    }
}

@keyframes closeNav{
    0% {
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
/* Menu Section */
#menu{
    background: #000;
}
.menu-title{
color: #d0d3d4;
text-align: center;
padding: 25px;
font-size: 2em;
}

p{
    color: #eee;
    font-size: 1.2em;
}
.menu-price{
    float: right;
}

/*Restauraunt Info Section */

#restaurant-info{
    background: #070707;
}

.info-title{
    color: #fffdd0;
    text-align: center;

}

.info-container{
    display: grid;
    grid-template-columns: 1fr;
}
.address,
.hours{
    font-size: 1em;
    text-align: center;
}
.contact{
    font-size: 1em;
    text-align: center;
    margin-bottom: 0;

}

.address-info,
.hours-info,
.contact-info{
    padding: 10px;
}

@media screen and (min-width: 768px){
    .info-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .address-info, .hours-info{
        border-right: 1px solid #eee;
        padding: 30px;
    }
    .contact-info{
        padding: 30px;
    }
}